<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> <%= button_to 'delete', rating, method: :delete,
                   data: {
                     turbo_confirm: "Are you sure you want delete?"}
                   %></li>
  <% end %>
</ul>


<%= link_to "Make new beer rating", new_rating_path %>

<p>To be completed</p>
